{
  "overrides": [
    {
      "files": "**/*.css",
      "options": {
        "plugins": ["prettier-plugin-css-order"],
        "cssDeclarationSorterOrder": "smacss",
        "printWidth": 1000
      }
    }
  ]
}
